<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<main>
    <h1>Погода</h1>
    <h2>Оберіть місто для перегляду погоди</h2>
    <a href="weather/kyiv">Київ</a>
    <a href="weather/lviv">Львів</a>
    <a href="weather/odesa">Одеса</a>
    <a href="weather/kharkiv">Харків</a>
    <a href="weather/dnipro">Дніпро</a>
    <a href="weather/kyslytsia">Кислиця</a>
    <a id="getWeatherBtn">За вашим розташуванням</a>
</main>

<script>
    document.getElementById('getWeatherBtn').addEventListener('click', () => {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition((position) => {
                const lat = position.coords.latitude;
                const lon = position.coords.longitude;

                window.location.href = `/weather/current?lat=${lat}&lon=${lon}`;
            });
        } else {
            alert("Ваш браузер не підтримує геолокацію.");
        }
    });
</script>
</body>
</html>
